@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-family: "Figtree";
  letter-spacing: -0.2px;
  background: #ddd;
}

header {
  z-index: 1;
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  font-size: 1.4rem;
  -webkit-backdrop-filter: blur(16px) saturate(180%);
          backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(106, 106, 106);
  background: #fff;
  font-weight: 500;
  transition: all 0.5s;
}
header.active {
  top: -60px;
}
header #leftGnb {
  width: 40%;
}
header #leftGnb ul {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
header #leftGnb ul li:hover a {
  font-weight: bold;
}
header #leftGnb ul li a {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  transition: all 0.5s;
}
header #leftGnb .promotionTitle {
  color: #99bdff;
}
header #logo {
  width: 20%;
}
header #logo a {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}
header #rightGnb {
  width: 40%;
}
header #rightGnb ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
header #rightGnb ul li:hover a {
  font-weight: bold;
}
header #rightGnb ul li a {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  transition: all 0.5s;
}
header #toggleBtn {
  display: none;
  transition: all 0.3s;
  width: 28px;
  height: 20px;
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
}
header #toggleBtn span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 2px;
  transition: all 0.3s;
}
header #toggleBtn span:nth-child(2) {
  top: 50%;
}
header #toggleBtn span:last-child {
  top: 100%;
}

footer {
  z-index: 1;
  width: 100%;
  height: 360px;
  padding: 0 3%;
  font-size: 1.4rem;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer #footerCategory {
  font-size: 1.6rem;
  font-weight: 400;
  transition: all 0.5s;
}
footer #footerCategory ul {
  display: flex;
  gap: 20px;
}
footer #footerCategory ul li a:hover {
  font-weight: 700;
}
footer #footerInfo {
  font-size: 1.2rem;
  font-weight: 300;
}
footer #footerInfo ul {
  display: flex;
  gap: 20px;
}
footer #footerLogo a {
  font-size: 10rem;
}
footer p {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.75px;
}

@media screen and (max-width: 1024px) {
  header {
    z-index: 2;
    background: transparent;
    transition: all 0.3s;
  }
  header #leftGnb {
    display: none;
  }
  header #logo {
    width: auto;
    position: relative;
    z-index: 3;
  }
  header #logo a {
    font-size: 2.4rem;
    justify-content: start;
  }
  header #rightGnb {
    display: none;
  }
  header #toggleBtn {
    position: relative;
    display: block;
    width: 22px;
    height: 16px;
  }
  header #toggleBtn span {
    background: #000;
  }
  header #toggleBtn.active {
    z-index: 3;
  }
  header #toggleBtn.active span:first-child {
    top: 50%;
    transform: rotate(45deg);
  }
  header #toggleBtn.active span:nth-child(2) {
    opacity: 0;
  }
  header #toggleBtn.active span:last-child {
    top: 50%;
    transform: rotate(-45deg);
  }
  header #toggleBtn.active ~ #leftGnb,
  header #toggleBtn.active #rightGnb {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    pointer-events: fill;
  }
}
@media screen and (max-width: 375px) {
  header {
    left: 0;
    transform: none;
  }
  header #logo {
    width: auto;
  }
  header #logo a {
    font-size: 2rem;
  }
  header #toggleBtn {
    width: 20px;
    height: 12px;
  }
}