// reset & variables
@import "./styles/reset.scss";
@import "./styles/variables.scss";

// common
html {
  font-size: 62.5%;
  scroll-behavior: auto !important;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-size: 1.6rem;
  font-family: "Figtree";
  letter-spacing: -0.2px;
  background: #ddd;
  &.active {
    overflow-y: hidden;
    height: 100vh;
  }
}

// Header
header {
  z-index: 1;
  width: 100%;
  height: 70px;
  position: fixed;
  padding: 0 3%;
  font-size: 1.4rem;
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(106, 106, 106, 1);
  background: map-get($map: $color, $key: light);
  font-weight: 500;
  transition: all 0.3s;
  transform: translate(0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.active {
    transform: translateY(-70px);
  }
  &.blendMode {
    mix-blend-mode: normal;
    color: map-get($map: $color, $key: dark);
    scroll-behavior: none;
  }
  #leftGnb {
    order: 1;
    ul {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 20px;
      li {
        &:hover a {
          font-weight: bold;
        }
        a {
          white-space: nowrap;
          text-transform: uppercase;
          display: inline-block;
          font-family: map-get($map: $color, $key: figtree);
          font-size: 1.4rem;
          transition: all 0.5s;
        }
      }
    }
    .promotionTitle {
      color: map-get($map: $color, $key: point);
    }
  }
  #rightGnb {
    order: 3;
    transition: all 0.5s;
    ul {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 20px;
      li {
        &:last-child {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          #toggleBtn {
            transition: all 0.3s;
            width: 28px;
            height: 20px;
            position: relative;
            background: transparent;
            border: none;
            cursor: pointer;
            span {
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              background: map-get($map: $color, $key: light);
              width: 100%;
              height: 2px;
              transition: all 0.3s;
              &:nth-child(2) {
                top: 50%;
              }
              &:last-child {
                top: 100%;
              }
            }
          }
        }
        &:hover a {
          font-weight: bold;
        }
        a {
          text-transform: uppercase;
          display: inline-block;
          position: relative;
          font-family: map-get($map: $color, $key: figtree);
          font-size: 1.4rem;
          transition: all 0.5s;
        }
      }
    }
  }
  #logo {
    order: 2;
    display: flex;
    align-items: center;
    a {
      justify-content: center;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
main {
  margin-top: 70px;
  transition: all 0.5s;
}
footer {
  height: 300px;
  background: #333;
  z-index: 1;
  position: relative;
}

// Footer
footer {
  z-index: 1;
  width: 100%;
  height: 360px;
  padding: 0 3%;
  font-size: 1.4rem;
  text-transform: uppercase;
  background: map-get($map: $color, $key: dark);
  color: map-get($map: $color, $key: light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  #footerCategory {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 16px;
    ul {
      display: flex;
      gap: 20px;
      li {
        a {
          &:hover {
            font-weight: 700;
          }
        }
      }
    }
  }
  #footerInfo {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 20px;
    ul {
      display: flex;
      gap: 20px;
    }
  }
  #footerLogo {
    a {
      font-size: 14rem;
    }
  }
  p {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.75px;
  }
}

// 반응형 tablet
@media screen and (max-width: 1024px) {
  // header
  header {
    z-index: 2;
    background: transparent;
    transition: all 0.3s;
    width: 100%;
    gap: 20px;
    mix-blend-mode: difference;
    color: map-get($map: $color, $key: light);
    #leftGnb {
      flex-direction: column;
      width: auto !important;
      position: fixed;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
      width: 100% !important;
      top: 0;
      height: 100vh;
      right: -100%;
      padding-top: 100px;
      z-index: 2;
      ul {
        flex-direction: column;
        width: 100%;
        gap: 0;
        li {
          line-height: 80px;
          width: 100%;
          text-indent: 3%;
          width: 100%;
          a {
            font-size: 1.8rem;
          }
        }
      }
      &.active {
        opacity: 1;
        visibility: visible;
        right: 0;
        background: map-get($map: $color, $key: light);
        color: map-get($map: $color, $key: dark);
      }
    }
    #rightGnb {
      width: auto !important;
      ul {
        li {
          &:last-child {
            opacity: 1;
            visibility: visible;
            position: static !important;
            #toggleBtn {
              width: 22px;
              height: 16px;
              z-index: 3;
              &.active {
                span {
                  background: map-get($map: $color, $key: dark);
                  &:first-child {
                    top: 50%;
                    transform: rotate(45deg);
                  }
                  &:nth-child(2) {
                    opacity: 0;
                  }
                  &:last-child {
                    top: 50%;
                    transform: rotate(-45deg);
                  }
                }
              }
            }
          }
        }
      }
    }
    #logo {
      width: auto;
      z-index: 3;
      left: 3%;
      a {
        font-size: 2.4rem;
        justify-content: start;
      }
    }
  }
  main {
    margin-top: 0;
  }
}

// 반응형 mobile
@media screen and (max-width: 375px) {
  // header
  header {
    left: 0;
    transform: none;
    // width: 100vw;

    #logo {
      width: auto;
      a {
        font-size: 2rem;
      }
    }
    #toggleBtn {
      width: 20px;
      height: 12px;
    }
  }
}
