@import "./reset.scss";
@import "./variables.scss";

main {
  margin-top: 0;
  .brandBanner {
    width: 100%;
    height: 500px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    padding: 3%;
    display: flex;
    align-items: center;
    &::after {
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: rgba($color: #000000, $alpha: 0.6);
    }
    .brandText {
      width: 600px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      position: relative;
      z-index: 1;
      p {
        color: map-get($map: $color, $key: light);
        &:first-child {
          font-size: 2rem;
        }
        &:nth-child(2) {
          font-size: 4rem;
          font-weight: bold;
        }
        &:last-child {
          font-size: 1.6rem;
        }
      }
    }
  }
  section {
    width: 100%;
    padding: 3%;
    background: map-get($map: $color, $key: light);
    display: flex;
    justify-content: center;
    ul {
      width: 1200px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      .itemBox {
        a {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          .itemImg {
            width: 100%;
            img {
              width: 100%;
              object-fit: cover;
            }
          }
          .itemText {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 30px;
            p {
              font-size: 1.4rem;
              &:first-child {
                font-weight: bold;
                color: map-get($map: $color, $key: point);
              }
              &:nth-child(2) {
                font-size: 1.6rem;
              }
              &:nth-child(3) {
              }
            }
          }
        }
      }
    }
  }
}
// 반응형 tablet
@media screen and (max-width: 1024px) {
  main {
    .brandBanner {
      height: 800px;
      object-fit: cover;
      background-attachment: inherit;
    }
    section {
      ul {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
      }
    }
  }
}

// 반응형 모바일
@media screen and (max-width: 767px) {
  main {
    section {
      ul {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }
    }
  }
}
