@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  z-index: 10;
}

/* 레이아웃 */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
}

/* 사이드바 */
.sidebar {
  width: 350px;
  padding-right: 30px;
}
.sidebar .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #d3d3d3;
}
.sidebar .category h2 {
  font-size: 18px;
  font-weight: bold;
}
.sidebar .category i {
  font-size: 14px;
  color: #a9a9a9;
  cursor: pointer;
}

/*카트 body*/
.line {
  width: 100%;
  height: 1px;
  background: #999999;
}

.cart-container {
  width: 1000px;
  height: 1060px;
  margin: 0 auto;
  padding: 100px;
}
.cart-container h2 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: start;
  color: #000;
  padding-bottom: 20px;
}
.cart-container .cart-items {
  width: 100%;
  margin-bottom: 30px;
}
.cart-container .cart-items .cart-item {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.cart-container .cart-items .cart-item .checkbox-container {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.cart-container .cart-items .cart-item .checkbox-container input[type=checkbox] {
  display: none;
}
.cart-container .cart-items .cart-item .checkbox-container input[type=checkbox] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #a9a9a9;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.cart-container .cart-items .cart-item .checkbox-container input[type=checkbox] + label:active {
  background-color: #a9a9a9;
}
.cart-container .cart-items .cart-item .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}
.cart-container .cart-items .cart-item .items input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.cart-container .cart-items .cart-item .items input[type=checkbox] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #a9a9a9;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.cart-container .cart-items .cart-item .items input[type=checkbox] + label:active {
  background-color: #a9a9a9;
}
.cart-container .cart-items .cart-item .items .item-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 150px;
}
.cart-container .cart-items .cart-item .items .item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-container .cart-items .cart-item .items .item-details {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cart-container .cart-items .cart-item .items .item-details .detail-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cart-container .cart-items .cart-item .items .item-details .detail-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cart-container .cart-items .cart-item .items .item-details .detail-bottom p {
  color: #999999;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}
.cart-container .cart-items .cart-item .items .item-details .detail-bottom .quantity-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart-container .cart-items .cart-item .items .item-details .detail-bottom .quantity-selector button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.8rem;
  color: #999999;
}
.cart-container .cart-summary {
  margin: 30px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.cart-container .cart-summary .summary-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 390px;
  padding: 15px 0;
}
.cart-container .cart-summary .summary-row.total .summary-label {
  font-weight: bold;
  color: #000;
}
.cart-container .cart-summary .summary-row .summary-label {
  display: inline-block;
  text-align: right;
  width: 40%;
  color: #a9a9a9;
}
.cart-container .cart-summary .summary-row .summary-value {
  width: 60%;
  text-align: right;
}
.cart-container .cart-actions {
  width: 100%;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.cart-container .cart-actions button {
  border: none;
  width: 160px;
  height: 50px;
  padding: 13px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  font-size: 1.5rem;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
}
.cart-container .cart-actions button.buy-now {
  background-color: #fedf32;
}