@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  z-index: 10;
  height: 70px;
}

/* 레이아웃 */
.container {
  padding-bottom: 100px;
  background: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* 사이드바 */
.sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 20px;
  width: 350px;
  padding-right: 30px;
  z-index: 1000;
  background: #fff;
}
.sidebar section {
  margin-bottom: 20px;
}
.sidebar section .title-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d3d3d3;
}
.sidebar section .title-top h2 {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
.sidebar section .title-top i {
  font-size: 14px;
  color: #a9a9a9;
  cursor: pointer;
}
.sidebar section .subcategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 10px;
  padding: 10px;
}
.sidebar section .subcategory .item {
  width: 50%;
  width: calc(50% - 5px);
}
.sidebar section .subcategory .item a {
  text-decoration: none;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding: 20px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: 1px solid #d3d3d3;
  padding: 10px;
  border-radius: 3px;
}
.sidebar section .subcategory .color-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #ccc;
}
.sidebar section .subcategory .color-dot.black {
  background-color: #000;
}
.sidebar section .subcategory .color-dot.white {
  background-color: #fff;
}
.sidebar section .subcategory .color-dot.blue {
  background-color: blue;
}
.sidebar section .subcategory .color-dot.red {
  background-color: red;
}
.sidebar section .subcategory .color-dot.brown {
  background-color: brown;
}
.sidebar section .subcategory .color-dot.pink {
  background-color: pink;
}

.content-area {
  width: calc(100% - 400px);
  height: 3000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content-area .product-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.content-area .product-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.content-area .product-item {
  width: 32%;
}
.content-area .product-item .product-link {
  text-decoration: none;
  display: block;
}
.content-area .product-item .product-image {
  width: 100%;
  margin-bottom: 15px;
}
.content-area .product-item .product-image img {
  width: 100%;
  display: block;
}
.content-area .product-item .product-info .product-title {
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 5px 0;
}
.content-area .product-item .product-info .product-price {
  font-size: 13px;
  margin: 0;
}

footer {
  z-index: -1;
  position: relative;
}