@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  z-index: 10;
}

main {
  background: #fff;
}

main {
  width: 100%;
}
main #container .eventHeader {
  width: 100%;
  height: 400px;
  background: #eee;
}
main #container .eventHeader .event {
  height: 100%;
  padding: 0 3%;
  display: flex;
  justify-content: left;
  align-items: center;
}
main #container .eventHeader .event h3 {
  font-size: 4rem;
  font-weight: 900;
}
main #container .eventHeader .event h3 p {
  font-size: 1.4rem;
  font-weight: normal;
  color: #99bdff;
}
main #container .eventBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #container .eventBtn a {
  width: 960px;
  height: 90px;
  font-size: 3rem;
  font-weight: bold;
  border: 1px solid #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #container .event01 {
  width: 100%;
  height: 100vh;
}
main #container .event02 {
  width: 100%;
  height: 100vh;
  border: 1px solid #f00;
}