@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  z-index: 10;
}

main {
  background: #fff;
}

main {
  width: 100%;
}
main #container01 .eventHeader {
  width: 100%;
  height: 400px;
  background: url("/images/event/pc.png") center/cover no-repeat;
}
main #container01 .eventBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #container01 .eventBtn p {
  width: 50%;
  height: 80px;
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 1px solid #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
}
main #container01 .eventBtn p:hover {
  background: #000;
  color: #99bdff;
}
main #container01 .eventBtn p:nth-child(1) {
  background: #000;
  color: #99bdff;
}
main #container01 #eventModal #modalBg {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  display: none;
}
main #container01 #eventModal #modalBg.on {
  display: block;
}
main #container01 #eventModal #modalBg .modalContent {
  max-width: 500px;
  width: 100%;
  height: 300px;
  border-radius: 18px;
  background-color: #fff;
  margin: 16% 34%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main #container01 #eventModal #modalBg .modalContent .closeModal {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
main #container01 #eventModal #modalBg .modalContent .closeModal .fa-xmark {
  font-size: 3rem;
  margin-top: 3%;
  margin-right: 6%;
}
main #container01 #eventModal #modalBg .modalContent .modalTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #container01 #eventModal #modalBg .modalContent .modalTitle h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #99bdff;
  margin-bottom: 10px;
}
main #container01 #eventModal #modalBg .modalContent .modalTitle h1 b {
  font-size: 5.2rem;
}
main #container01 #eventModal #modalBg .modalContent .modalTitle p {
  font-size: 3rem;
  font-weight: 700;
}
main #container01 #eventModal #modalBg .modalContent .modalTitle span {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 4px;
}
main #container01 #eventModal #modalBg .modalContent .modalTitle .modalBtn {
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  padding: 14px 30px;
  border-radius: 12px;
  background: #99bdff;
  cursor: pointer;
  transition: all 0.3s;
}
main #container01 #eventModal #modalBg .modalContent .modalTitle .modalBtn:hover {
  background: #000;
  color: #99bdff;
}
main #container01 .event01 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #container01 .event01 .event01Wrapper {
  margin-top: 4%;
  width: 50%;
}
main #container01 .event01 .event01Wrapper .textWrapper {
  width: 100%;
  height: 700px;
  background: #dce1ec;
  border-radius: 30px 30px 0 0;
  padding: 2% 6% 0;
}
main #container01 .event01 .event01Wrapper .textWrapper h1 {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #868fa0;
  font: normal 2rem/1 "Figtree";
  text-shadow: 0px 3px 0px rgba(255, 255, 255, 0.8);
}
main #container01 .event01 .event01Wrapper .textWrapper .left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  margin-bottom: 20px;
}
main #container01 .event01 .event01Wrapper .textWrapper .left img {
  width: 300px;
  height: 100px;
}
main #container01 .event01 .event01Wrapper .textWrapper .left p {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px 22px;
  border-radius: 40px;
  font: normal 1.8rem/1 "Figtree";
  background: #f2f2f2;
}
main #container01 .event01 .event01Wrapper .textWrapper .right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 20px;
}
main #container01 .event01 .event01Wrapper .textWrapper .right p {
  padding: 20px 22px;
  border-radius: 40px;
  font: normal 1.8rem/1 "Figtree";
  background: #3698fb;
  display: flex;
  justify-content: right;
  align-items: center;
}
main #container01 .event01 .event01Wrapper .textWrapper .right .coupon {
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
}
main #container01 .event01 .event01Wrapper .textWrapper .right .coupon:hover {
  color: #fff;
}
main #container01 .event01 .event01Wrapper .bottomImg {
  width: 100%;
}
main #container01 .event01 .eventSec {
  margin: 8% 0;
}
main #container01 .event01 .eventSec p {
  text-align: center;
  font: normal 2rem/2 "Figtree";
}
main #container01 .event01 .eventSec p b {
  text-decoration-line: underline;
  color: #99bdff;
}
main #container01 .event01 .slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #container01 .event01 .slide .imgSlider1 {
  display: flex;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
main #container01 .event01 .slide .imgSlider1:hover .track1 {
  animation-play-state: paused;
}
main #container01 .event01 .slide .imgSlider1 .track1 {
  display: flex;
  will-change: transform;
  animation: scrolling 18s linear infinite both;
}
main #container01 .event01 .slide .imgSlider1 .track1 img {
  width: 240px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #container01 .event01 .slide .imgSlider2 {
  display: flex;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
main #container01 .event01 .slide .imgSlider2:hover .track2 {
  animation-play-state: paused;
}
main #container01 .event01 .slide .imgSlider2 .track2 {
  display: flex;
  will-change: transform;
  animation: scrolling-r 18s linear infinite both;
}
main #container01 .event01 .slide .imgSlider2 .track2 img {
  width: 240px;
  height: 280px;
  display: flex;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
}
main #container01 .event01-1 {
  width: 100%;
  height: 100vh;
  background: #e7effd;
}
main #container01 .event01-1 .conWrapper {
  gap: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #container01 .event01-1 .conWrapper .swiper {
  width: 460px;
  height: 560px;
  border-radius: 18px;
  margin: 0;
  margin-top: 8%;
}
main #container01 .event01-1 .conWrapper .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
main #container01 .event01-1 .conWrapper .swiper .swiper-wrapper .swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main #container01 .event01-1 .conWrapper .swiper .swiper-wrapper .swiper-slide:nth-child(1) {
  background-image: url("/images/event/25.jpg");
}
main #container01 .event01-1 .conWrapper .swiper .swiper-wrapper .swiper-slide:nth-child(2) {
  background-image: url("/images/event/15.jpg");
}
main #container01 .event01-1 .conWrapper .contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  margin-bottom: 10%;
}
main #container01 .event01-1 .conWrapper .contents h1 {
  font: bold 3.2rem/1 "Figtree";
  color: #99bdff;
  margin-bottom: 6%;
}
main #container01 .event01-1 .conWrapper .contents .contentList01 {
  width: 460px;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10%;
}
main #container01 .event01-1 .conWrapper .contents .contentList01 .detailImg {
  width: 140px;
  height: 140px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #container01 .event01-1 .conWrapper .contents .contentList01 .detailImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main #container01 .event01-1 .conWrapper .contents .contentList01 .content {
  width: 240px;
  gap: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
main #container01 .event01-1 .conWrapper .contents .contentList01 .content .brand {
  color: #99bdff;
  font-size: 2rem;
  font-weight: 700;
}
main #container01 .event01-1 .conWrapper .contents .contentList01 .content .name {
  font-size: 1.6rem;
  font-weight: 600;
}
main #container01 .event01-1 .conWrapper .contents .contentList01 .content .sale {
  font-weight: 300;
}
main #container01 .event01-1 .conWrapper .contents .contentList01 .content .sale b {
  color: #99bdff;
  font-size: 2.2rem;
  margin-right: 8px;
  font-weight: 600;
}
main #container01 .event01-1 .conWrapper .contents .contentList02 {
  width: 460px;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main #container01 .event01-1 .conWrapper .contents .contentList02 .detailImg {
  width: 140px;
  height: 140px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #container01 .event01-1 .conWrapper .contents .contentList02 .detailImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main #container01 .event01-1 .conWrapper .contents .contentList02 .content {
  width: 240px;
  gap: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
main #container01 .event01-1 .conWrapper .contents .contentList02 .content .brand {
  color: #99bdff;
  font-size: 2rem;
  font-weight: 700;
}
main #container01 .event01-1 .conWrapper .contents .contentList02 .content .name {
  font-size: 1.6rem;
  font-weight: 600;
}
main #container01 .event01-1 .conWrapper .contents .contentList02 .content .sale {
  font-weight: 300;
}
main #container01 .event01-1 .conWrapper .contents .contentList02 .content .sale b {
  color: #99bdff;
  font-size: 2.2rem;
  margin-right: 8px;
  font-weight: 600;
}
main #container01 .event01-2 {
  width: 100%;
  height: 80vh;
  background-color: #e0e8fc;
  position: relative;
}
main #container01 .event01-2 .conImg {
  width: 500px;
  height: 100%;
  position: absolute;
  display: flex;
}
main #container01 .event01-2 .conImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #container01 .event01-2 .cap {
  position: absolute;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  top: 3%;
  right: 8%;
  transform: rotate(4deg);
}
main #container01 .event01-2 .cap:hover {
  filter: drop-shadow(0 0 10px white) drop-shadow(0 0 1px white);
  transform: rotate(14deg);
}
main #container01 .event01-2 .clothe {
  position: absolute;
  width: 140px;
  top: 44%;
  right: 6%;
}
main #container01 .event01-2 .clothe:hover {
  filter: drop-shadow(0 0 10px white) drop-shadow(0 0 1px white);
  transform: rotate(-14deg);
}
main #container02 {
  width: 100%;
  background-color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
main #container02 .eventBtn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #container02 .eventBtn p {
  width: 960px;
  height: 80px;
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 0.2px solid #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: all 0.5s;
  cursor: pointer;
}
main #container02 .eventBtn p:nth-child(1):hover {
  color: #99bdff;
  background: #000;
}
main #container02 .eventBtn p:nth-child(2) {
  color: #99bdff;
  background: #000;
}
main #container02 .event2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
main #container02 .event2 .event02 {
  margin-top: 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #container02 .event2 .event02 ul {
  width: 132%;
  font-weight: 700;
  color: #fff;
  font-size: 9rem;
  margin-bottom: 8%;
  display: flex;
  flex-direction: column;
}
main #container02 .event2 .event02 ul li {
  font-weight: 800;
  font-style: italic;
}
main #container02 .event2 .event02 ul li:nth-child(1) {
  display: flex;
  justify-content: start;
  align-items: center;
}
main #container02 .event2 .event02 ul li:nth-child(2) {
  display: flex;
  justify-content: end;
  align-items: center;
}
main #container02 .event2 .event02 ul hr {
  width: 100%;
  margin-top: 4%;
}
main #container02 .event2 .event02 .drawImg {
  width: 440px;
  height: 348px;
  margin-top: 8%;
}
main #container02 .event2 .event02 .drawImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #container02 .event2 .event02 .countdown {
  width: 500px;
  margin: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  font-weight: 600;
  color: #fff;
}
main #container02 .event2 .event02 .countdown span {
  font-size: 2.4rem;
  padding: 0 10px;
  margin-right: 10px;
}
main #container02 .event2 .event02 .drawBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  padding: 16px 20px;
  border-radius: 40px;
  font-size: 2.2rem;
  font-weight: 600;
  background: inherit;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.5s;
  cursor: pointer;
}
main #container02 .event2 .event02 .drawBtn:hover {
  color: #000;
  background: #fff;
}
main #container02 .event2 .eventWarning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
}
main #container02 .event2 .eventWarning h1 {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2%;
}
main #container02 .event2 .eventWarning ul {
  color: #fff;
}
main #container02 .event2 .eventWarning ul li {
  position: relative;
  padding-left: 16px;
}
main #container02 .event2 .eventWarning ul li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  left: 0;
  top: 7px;
  background-color: #fff;
  border-radius: 100%;
}
main #container02 #drawModal #modalDrawBg {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  display: none;
}
main #container02 #drawModal #modalDrawBg.open {
  display: block;
}
main #container02 #drawModal #modalDrawBg .modalDrawContent {
  max-width: 500px;
  width: 100%;
  height: 300px;
  border-radius: 18px;
  background-color: #fff;
  margin: 16% 34%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main #container02 #drawModal #modalDrawBg .modalDrawContent .closeDrawModal {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
main #container02 #drawModal #modalDrawBg .modalDrawContent .closeDrawModal .fa-xmark {
  font-size: 3rem;
  margin-top: 3%;
  margin-right: 6%;
}
main #container02 #drawModal #modalDrawBg .modalDrawContent .modalDrawTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #container02 #drawModal #modalDrawBg .modalDrawContent .modalDrawTitle h1 {
  font-size: 1.8rem;
  font-weight: 200;
}
main #container02 #drawModal #modalDrawBg .modalDrawContent .modalDrawTitle p {
  font-size: 4rem;
  font-weight: 800;
  margin-top: 6px;
  margin-bottom: 10px;
}
main #container02 #drawModal #modalDrawBg .modalDrawContent .modalDrawTitle span {
  font-size: 1.4rem;
  font-weight: 300;
}
main #container02 #drawModal #modalDrawBg .modalDrawContent .modalDrawTitle .modalDrawBtn {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 30px;
  border: none;
  padding: 14px 30px;
  border-radius: 12px;
  background: #000;
  color: #99bdff;
  cursor: pointer;
  transition: all 0.3s;
}
main #container02 #drawModal #modalDrawBg .modalDrawContent .modalDrawTitle .modalDrawBtn:hover {
  background: #99bdff;
  color: #000;
}

@media screen and (max-width: 1024px) {
  main #container01 .eventHeader {
    background: url("/images/event/tab.png") center/cover no-repeat;
  }
  main #container01 .eventBtn p {
    height: 70px;
    font-size: 2.4rem;
  }
  main #container01 #eventModal #modalBg .modalContent {
    margin: 30% 27%;
  }
  main #container01 .event01 .event01Wrapper {
    width: 66%;
    margin-top: 6%;
  }
  main #container01 .event01 .event01Wrapper .textWrapper {
    height: 600px;
  }
  main #container01 .event01 .event01Wrapper .textWrapper h1 {
    height: 8%;
    margin-bottom: 4%;
    font: normal 1.8rem/1 "Figtree";
  }
  main #container01 .event01 .event01Wrapper .textWrapper .left {
    gap: 16px;
    margin-bottom: 16px;
  }
  main #container01 .event01 .event01Wrapper .textWrapper .left img {
    width: 280px;
    height: 90px;
  }
  main #container01 .event01 .event01Wrapper .textWrapper .left p {
    padding: 16px 18px;
    font: normal 1.4rem/1 "Figtree";
  }
  main #container01 .event01 .event01Wrapper .textWrapper .right {
    gap: 16px;
    margin-bottom: 16px;
  }
  main #container01 .event01 .event01Wrapper .textWrapper .right p {
    padding: 16px 18px;
    font: normal 1.4rem/1 "Figtree";
  }
  main #container01 .event01 .eventSec {
    margin: 6% 0;
  }
  main #container01 .event01 .eventSec p {
    font: normal 1.6rem/2 "Figtree";
  }
  main #container01 .event01 .slide .imgSlider1 .track1 img {
    width: 200px;
    height: 240px;
  }
  main #container01 .event01 .slide .imgSlider2 .track2 img {
    width: 200px;
    height: 240px;
  }
  main #container01 .event01-1 {
    height: auto;
  }
  main #container01 .event01-1 .conWrapper {
    gap: 4%;
    padding: 6% 0;
  }
  main #container01 .event01-1 .conWrapper .swiper {
    width: 440px;
    height: 460px;
    margin-top: 0;
  }
  main #container01 .event01-1 .conWrapper .contents {
    margin-top: 0;
  }
  main #container01 .event01-1 .conWrapper .contents h1 {
    margin-top: 8%;
    padding: 0;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList01 {
    gap: 40px;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList02 {
    gap: 40px;
  }
  main #container01 .event01-2 {
    height: 40vh;
  }
  main #container01 .event01-2 .conImg {
    width: 300px;
  }
  main #container01 .event01-2 .cap {
    width: 260px;
  }
  main #container01 .event01-2 .clothe {
    width: 120px;
  }
  main #container02 .eventBtn p {
    width: 512px;
    height: 70px;
    font-size: 2.4rem;
  }
  main #container02 .event2 {
    margin-top: 0;
  }
  main #container02 .event2 .event02 {
    top: 10%;
  }
  main #container02 .event2 .event02 ul {
    width: 120%;
    font-size: 7rem;
  }
  main #container02 .event2 .event02 ul hr {
    width: 110%;
  }
  main #container02 #drawModal #modalDrawBg .modalDrawContent {
    margin: 30% 27%;
  }
}
@media screen and (max-width: 767px) {
  main #container01 .eventHeader {
    background: url("/images/event/mo.png") center/cover no-repeat;
  }
  main #container01 .eventBtn p {
    height: 60px;
    font-size: 2rem;
  }
  main #container01 #eventModal #modalBg .modalContent {
    margin: 34% 17%;
  }
  main #container01 .event01 .event01Wrapper .textWrapper {
    height: 500px;
  }
  main #container01 .event01 .event01Wrapper .textWrapper .left img {
    width: 260px;
    height: 80px;
  }
  main #container01 .event01 .event01Wrapper .textWrapper .right img {
    width: 260px;
    height: 80px;
  }
  main #container01 .event01-1 {
    padding: 0 3%;
  }
  main #container01 .event01-1 .conWrapper .swiper {
    height: 400px;
  }
  main #container01 .event01-1 .conWrapper .contents {
    margin-bottom: 2%;
  }
  main #container01 .event01-1 .conWrapper .contents h1 {
    margin-top: 2%;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList01 {
    width: 80%;
    gap: 30px;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList02 {
    width: 80%;
  }
  main #container01 .event01-2 .conImg {
    width: 240px;
  }
  main #container01 .event01-2 .cap {
    width: 180px;
  }
  main #container01 .event01-2 .clothe {
    width: 90px;
  }
  main #container02 .eventBtn p {
    height: 70px;
    font-size: 2.4rem;
  }
  main #container02 .event2 .event02 ul {
    width: 100%;
    font-size: 6rem;
  }
  main #container02 .event2 .event02 ul hr {
    width: 100%;
  }
  main #container02 .event2 .eventWarning {
    margin: 14%;
  }
  main #container02 #drawModal #modalDrawBg .modalDrawContent {
    margin: 34% 17%;
  }
}
@media screen and (max-width: 375px) {
  main #container01 .eventBtn p {
    height: 50px;
    font-size: 1.2rem;
  }
  main #container01 #eventModal #modalBg .modalContent {
    margin: 34% 17%;
  }
  main #container01 .event01 .event01Wrapper {
    width: 90%;
  }
  main #container01 .event01 .event01Wrapper .textWrapper {
    height: 340px;
    border-radius: 20px 20px 0 0;
  }
  main #container01 .event01 .event01Wrapper .textWrapper h1 {
    font: normal 1.4rem/1 "Figtree";
    text-shadow: 0px 3px 0px rgba(255, 255, 255, 0.6);
  }
  main #container01 .event01 .event01Wrapper .textWrapper .left {
    gap: 8px;
  }
  main #container01 .event01 .event01Wrapper .textWrapper .left img {
    width: 190px;
    height: 70px;
  }
  main #container01 .event01 .event01Wrapper .textWrapper .left p {
    padding: 10px 10px;
    font: normal 1rem/1 "Figtree";
  }
  main #container01 .event01 .event01Wrapper .textWrapper .right {
    gap: 8px;
  }
  main #container01 .event01 .event01Wrapper .textWrapper .right p {
    padding: 10px 10px;
    font: normal 1rem/1 "Figtree";
  }
  main #container01 .event01 .eventSec p {
    font: normal 1.2rem/1.6 "Figtree";
  }
  main #container01 .event01 .slide .imgSlider1 .track1 img {
    width: 140px;
    height: 160px;
  }
  main #container01 .event01 .slide .imgSlider2 .track2 img {
    width: 140px;
    height: 160px;
  }
  main #container01 .event01-1 .conWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main #container01 .event01-1 .conWrapper .swiper {
    width: 80%;
    height: 280px;
  }
  main #container01 .event01-1 .conWrapper .contents {
    width: 80%;
  }
  main #container01 .event01-1 .conWrapper .contents h1 {
    display: none;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList01 {
    width: 100%;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList01 .detailImg {
    width: 42px;
    margin: 12px;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList01 .content {
    gap: 8px;
    height: 120px;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList01 .content .brand {
    font-size: 1.4rem;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList01 .content .name {
    font-size: 1.2rem;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList01 .content .sale {
    font-size: 1.4rem;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList01 .content .sale b {
    font-size: 1.6rem;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList02 {
    width: 100%;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList02 .detailImg {
    width: 42px;
    margin: 12px;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList02 .content {
    gap: 8px;
    height: 120px;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList02 .content .brand {
    font-size: 1.4rem;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList02 .content .name {
    font-size: 1.2rem;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList02 .content .sale {
    font-size: 1.4rem;
  }
  main #container01 .event01-1 .conWrapper .contents .contentList02 .content .sale b {
    font-size: 1.6rem;
  }
  main #container01 .event01-2 {
    height: 30vh;
  }
  main #container01 .event01-2 .conImg {
    width: 120px;
    height: 100%;
  }
  main #container01 .event01-2 .cap {
    width: 120px;
  }
  main #container01 .event01-2 .clothe {
    width: 68px;
  }
  main #container02 {
    position: relative;
    height: 140vh;
  }
  main #container02 .eventBtn p {
    height: 50px;
    font-size: 1.2rem;
  }
  main #container02 .event2 {
    position: absolute;
    top: 6%;
  }
  main #container02 .event2 .event02 ul {
    width: 50%;
    font-size: 2.2rem;
  }
  main #container02 .event2 .event02 .drawImg {
    width: 240px;
    height: 280px;
    margin-top: 2%;
  }
  main #container02 .event2 .event02 .drawImg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #container02 .event2 .event02 .countdown {
    font-size: 3.2rem;
  }
  main #container02 .event2 .eventWarning ul li {
    font-size: 1.2rem;
  }
  main #container02 #drawModal #modalDrawBg .modalDrawContent {
    max-width: 300px;
    height: 200px;
    margin: 60% 11%;
    border-radius: 8px;
  }
  main #container02 #drawModal #modalDrawBg .modalDrawContent .closeDrawModal .fa-xmark {
    font-size: 1.8rem;
  }
  main #container02 #drawModal #modalDrawBg .modalDrawContent .modalDrawTitle h1 {
    font-size: 1.4rem;
  }
  main #container02 #drawModal #modalDrawBg .modalDrawContent .modalDrawTitle p {
    font-size: 3rem;
  }
  main #container02 #drawModal #modalDrawBg .modalDrawContent .modalDrawTitle span {
    font-size: 1.2rem;
  }
  main #container02 #drawModal #modalDrawBg .modalDrawContent .modalDrawTitle .modalDrawBtn {
    font-size: 1.2rem;
    padding: 10px 26px;
  }
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrolling-r {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}