@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  margin-top: 0;
  background: #fff;
}
main #pinSection {
  position: fixed;
  background: #ccc;
  width: 35%;
  height: 100vh;
  top: 0;
}
main #pinSection .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
main #pinSection .swiper .swiper-wrapper .swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main #pinSection .swiper .swiper-wrapper .swiper-slide::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
main #pinSection .swiper .swiper-wrapper .swiper-slide #swiperText {
  position: absolute;
  bottom: 18%;
  left: 8%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
main #pinSection .swiper .swiper-wrapper .swiper-slide #swiperText p:nth-child(1) {
  font-size: 3rem;
}
main #pinSection .swiper .swiper-wrapper .swiper-slide #swiperText p:nth-child(2) {
  font-size: 1.6rem;
}
main #pinSection .swiper .swiper-wrapper .swiper-slide:nth-child(1) {
  background-image: url("https://imagedelivery.net/djfufN1Ft6CV8Emdrip5jA/802a2b3a-0df2-450a-73ff-7d640a25cb00/w=1920,h=2400");
}
main #pinSection .swiper .swiper-wrapper .swiper-slide:nth-child(2) {
  background-image: url("https://imagedelivery.net/djfufN1Ft6CV8Emdrip5jA/f697c35d-1c7a-42a9-5235-03da1b8a8900/w=1920,h=2400");
}
main #pinSection .swiper .swiper-wrapper .swiper-slide:nth-child(3) {
  background-image: url("https://imagedelivery.net/djfufN1Ft6CV8Emdrip5jA/727ef2ac-e008-4477-8853-5df65f42cf00/w=1920,h=2400");
}
main #pinSection .swiper .swiper-wrapper .swiper-slide:nth-child(4) {
  background-image: url("https://imagedelivery.net/djfufN1Ft6CV8Emdrip5jA/0f350642-a05e-438b-7c03-d4b671063300/w=1920,h=2394");
}
main #pinSection .swiper .swiper-wrapper .swiper-slide:nth-child(5) {
  background-image: url("https://imagedelivery.net/djfufN1Ft6CV8Emdrip5jA/2af38877-d426-4a41-cd14-13b586e53f00/w=1920,h=2400");
}
main #pinSection .swiper .swiper-button-next,
main #pinSection .swiper .swiper-button-prev,
main #pinSection .swiper .pagination-fraction {
  width: 20px;
  height: 30px;
  line-height: 30px;
  left: 3%;
}
main #pinSection .swiper .swiper-button-prev {
  top: auto;
  bottom: 10%;
  left: 8%;
}
main #pinSection .swiper .swiper-button-prev::after {
  font-size: 1.4rem;
  color: #fff;
}
main #pinSection .swiper .swiper-button-next {
  top: auto;
  right: auto;
  bottom: 10%;
  left: calc(8% + 60px);
}
main #pinSection .swiper .swiper-button-next::after {
  font-size: 1.4rem;
  color: #fff;
}
main #pinSection .swiper .pgbar {
  height: 50px;
  background-color: rgb(67, 71, 72);
  position: absolute;
  bottom: 8.8%;
  line-height: 50px;
  width: 200px;
  left: calc(8% + 90px);
}
main #pinSection .swiper .pgbar .pagination-progressbar {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 1px;
}
main #pinSection .swiper .pgbar .pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #fff;
}
main #pinSection .swiper .pagination-fraction {
  color: #fff;
  bottom: 10%;
  font-size: 1.6rem;
  width: 40px;
  left: calc(8% + 20px);
}
main #scrollSection {
  padding-top: 70px;
  padding-left: 35%;
  width: 100%;
}
main #scrollSection .flexCon01 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5%;
  padding: 0 5%;
}
main #scrollSection .flexCon01 .flexLeft,
main #scrollSection .flexCon01 .flexRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
main #scrollSection .flexCon01 .flexBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
main #scrollSection .flexCon01 .flexBox .imgBox {
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}
main #scrollSection .flexCon01 .flexBox .imgBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #scrollSection .flexCon01 .flexBox .textBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main #scrollSection .flexCon01 .flexBox .textBox p {
  font-size: 1.6rem;
}
main #scrollSection .flexCon01 .flexBox .textBox p:first-child {
  font-size: 2.2rem;
  font-weight: bold;
}
main #scrollSection .flexCon01 .flexBox .textBox span {
  font-weight: bold;
}
main #scrollSection .flexCon01 .flexBox .textBox span:first-child {
  color: #99bdff;
}
main #scrollSection .flexCon01 .flexBox .itemWrap {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
main #scrollSection .flexCon01 .flexBox .itemWrap .itemBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
main #scrollSection .flexCon01 .flexBox .itemWrap .itemBox a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  gap: 20px;
  width: 100%;
}
main #scrollSection .flexCon01 .flexBox .itemWrap .itemBox .itemImg {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
main #scrollSection .flexCon01 .flexBox .itemWrap .itemBox .itemImg img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
main #scrollSection .flexCon01 .flexBox .itemWrap .itemBox .itemText {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main #scrollSection .flexCon01 .flexBox .itemWrap .itemBox .itemText p {
  font-size: 1.4rem;
  font-weight: bold;
}
main #scrollSection .flexCon01 .flexBox .itemWrap .itemBox .itemText p:nth-child(2) {
  font-size: 1.6rem;
  font-weight: normal;
}
main #scrollSection .flexCon01 .flexBox .itemWrap .itemBox .itemText p:last-child span:first-child {
  color: #99bdff;
  margin-right: 10px;
}
main #scrollSection .flexCon01 .flexBox .itemWrap .itemBox .itemLike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  align-self: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: #a9a9a9;
}
main #scrollSection .flexCon01 .flexBox .itemWrap .itemBox .itemLike i {
  font-size: 2rem;
}
main #scrollSection .flexCon01 .flexBox .itemWrap .itemBox .itemLike i.fa-solid {
  color: #99bdff;
}
main #scrollSection .flexCon02 {
  padding: 0 5%;
  position: relative;
  margin: 100px 0;
  z-index: 0;
}
main #scrollSection .flexCon02 .swiper02 {
  position: relative;
  overflow: hidden;
}
main #scrollSection .flexCon02 .swiper02 h2 {
  margin-bottom: 40px;
  font-weight: normal;
}
main #scrollSection .flexCon02 .swiper02 .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main #scrollSection .flexCon02 .swiper02 .swiper-wrapper .swiper-slide .productImg img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #scrollSection .flexCon02 .swiper02 .swiper-wrapper .swiper-slide p {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 10px;
}
main #scrollSection .flexCon02 .swiper02 .swiper-wrapper .swiper-slide p:nth-child(2) {
  font-size: 1.6rem;
  font-weight: normal;
}
main #scrollSection .flexCon02 .swiper02 .swiper-wrapper .swiper-slide p:last-child span:first-child {
  color: #99bdff;
  margin-right: 10px;
}
main #scrollSection .flexCon02 .swiper02 .swiper-button-next,
main #scrollSection .flexCon02 .swiper02 .swiper-button-prev {
  background: #a9a9a9;
  border-radius: 50%;
  width: 36px !important;
  height: 36px;
  line-height: 36px;
  text-align: center;
  display: block;
  color: #fff;
}
main #scrollSection .flexCon02 .swiper02 .swiper-button-prev {
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  top: 5%;
  right: 5%;
}
main #scrollSection .flexCon02 .swiper02 .swiper-button-prev::after {
  font-size: 1.4rem;
}
main #scrollSection .flexCon02 .swiper02 .swiper-button-next {
  top: auto;
  right: auto;
  width: auto;
  height: auto;
  right: 0;
  top: 5%;
}
main #scrollSection .flexCon02 .swiper02 .swiper-button-next::after {
  font-size: 1.4rem;
}
main #scrollSection .marquee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  will-change: transform;
}
main #scrollSection .marquee div {
  will-change: transform;
  -webkit-animation: scrolling 60s linear infinite both;
          animation: scrolling 60s linear infinite both;
  font-size: 10rem;
  font-weight: bold;
  color: #fff;
  -webkit-filter: drop-shadow(-1px -1px 0 #ccc) drop-shadow(1px -1px 0 #ccc) drop-shadow(-1px 1px 0 #ccc) drop-shadow(1px 1px 0 #ccc);
          filter: drop-shadow(-1px -1px 0 #ccc) drop-shadow(1px -1px 0 #ccc) drop-shadow(-1px 1px 0 #ccc) drop-shadow(1px 1px 0 #ccc);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 1024px) {
  main #pinSection {
    width: 100%;
    position: static;
  }
  main #pinSection .swiper .swiper-slide #swiperText {
    gap: 8px;
    left: 3% !important;
    bottom: 23% !important;
  }
  main #pinSection .swiper .swiper-slide #swiperText p:first-child {
    font-size: 2.4rem;
  }
  main #pinSection .swiper .swiper-slide #swiperText p:last-child {
    font-size: 1.8rem;
  }
  main #pinSection .swiper .swiper-button-prev {
    bottom: 15%;
    left: 3%;
  }
  main #pinSection .swiper .swiper-button-prev::after {
    font-size: 2rem;
  }
  main #pinSection .swiper .swiper-button-next {
    bottom: 15%;
    left: calc(3% + 80px);
  }
  main #pinSection .swiper .swiper-button-next::after {
    font-size: 2rem;
  }
  main #pinSection .swiper .pgbar {
    left: calc(3% + 120px);
    bottom: 13.8%;
  }
  main #pinSection .swiper .pagination-fraction {
    left: calc(3% + 30px);
    bottom: 15%;
    font-size: 1.8rem;
  }
  main #scrollSection {
    padding-left: 0;
    padding-top: 80px;
  }
  main #scrollSection .flexCon02 {
    margin: 100px 0 !important;
  }
  main #scrollSection .flexCon02 .swiper02 .swiper-button-prev {
    right: 6%;
  }
}
@media screen and (max-width: 767px) {
  main #pinSection .swiper .swiper-slide #swiperText {
    bottom: 25% !important;
  }
  main #scrollSection {
    padding-top: 30px !important;
  }
  main #scrollSection .flexCon01 {
    gap: 40px !important;
  }
  main #scrollSection .flexCon02 {
    margin: 100px 0 100px !important;
  }
  main #scrollSection .flexCon02 .swiper-button-prev {
    right: 8% !important;
    top: 6% !important;
  }
  main #scrollSection .flexCon02 .swiper-button-prev::after {
    font-size: 1.6rem !important;
  }
  main #scrollSection .flexCon02 .swiper-button-next {
    top: 6% !important;
  }
  main #scrollSection .flexCon02 .swiper-button-next::after {
    font-size: 1.6rem !important;
  }
  main #scrollSection .flexCon02 .pagination-fraction {
    font-size: 1.4rem !important;
  }
  main #scrollSection .flexCon02 .productImg img {
    height: 250px !important;
  }
  main .flexCon01 {
    grid-template-columns: repeat(1, 100%) !important;
    gap: 2% !important;
    padding: 0 5%;
  }
  main .imgBox {
    aspect-ratio: 1/1;
  }
}
@media screen and (max-width: 580px) {
  main #pinSection .swiper .swiper-slide #swiperText {
    bottom: 25% !important;
  }
  main #pinSection .swiper .pgbar {
    width: 180px;
  }
  main #scrollSection .flexCon02 .swiper-button-prev {
    right: 11% !important;
  }
  .marquee {
    margin-top: 100px;
  }
  .marquee div {
    font-size: 7rem !important;
  }
}
@media screen and (max-width: 380px) {
  .flexCon02 .swiper-button-prev {
    right: 13% !important;
  }
}
@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes scrolling {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}