// reset & variables
@import "./reset.scss";
@import "./variables.scss";

main {
  margin-top: 0;
  background: #fff;
  #pinSection {
    position: fixed;
    background: #ccc;
    width: 35%;
    height: 100vh;
    top: 0;
    .swiper {
      width: 100%;
      height: 100%;
      position: relative;
      .swiper-wrapper {
        .swiper-slide {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            background: rgba($color: #000000, $alpha: 0.3);
            z-index: -1;
          }
          #swiperText {
            position: absolute;
            bottom: 18%;
            left: 8%;
            color: map-get($map: $color, $key: light);
            display: flex;
            flex-direction: column;
            gap: 10px;
            p {
              &:nth-child(1) {
                font-size: 3rem;
              }
              &:nth-child(2) {
                font-size: 1.6rem;
              }
            }
          }
          &:nth-child(1) {
            background-image: url("https://imagedelivery.net/djfufN1Ft6CV8Emdrip5jA/802a2b3a-0df2-450a-73ff-7d640a25cb00/w=1920,h=2400");
          }
          &:nth-child(2) {
            background-image: url("https://imagedelivery.net/djfufN1Ft6CV8Emdrip5jA/f697c35d-1c7a-42a9-5235-03da1b8a8900/w=1920,h=2400");
          }
          &:nth-child(3) {
            background-image: url("https://imagedelivery.net/djfufN1Ft6CV8Emdrip5jA/727ef2ac-e008-4477-8853-5df65f42cf00/w=1920,h=2400");
          }
          &:nth-child(4) {
            background-image: url("https://imagedelivery.net/djfufN1Ft6CV8Emdrip5jA/0f350642-a05e-438b-7c03-d4b671063300/w=1920,h=2394");
          }
          &:nth-child(5) {
            background-image: url("https://imagedelivery.net/djfufN1Ft6CV8Emdrip5jA/2af38877-d426-4a41-cd14-13b586e53f00/w=1920,h=2400");
          }
        }
      }
      .swiper-button-next,
      .swiper-button-prev,
      .pagination-fraction {
        width: 20px;
        height: 30px;
        line-height: 30px;
        left: 3%;
      }
      .swiper-button-prev {
        top: auto;
        bottom: 10%;
        left: 8%;
        &::after {
          font-size: 1.4rem;
          color: map-get($map: $color, $key: light);
        }
      }
      .swiper-button-next {
        top: auto;
        right: auto;
        bottom: 10%;
        left: calc(8% + 60px);
        &::after {
          font-size: 1.4rem;
          color: map-get($map: $color, $key: light);
        }
      }
      .pgbar {
        height: 50px;
        background-color: rgb(67, 71, 72);
        position: absolute;
        bottom: 8.8%;
        line-height: 50px;
        width: 200px;
        left: calc(8% + 90px);
        .pagination-progressbar {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          height: 1px;
          .swiper-pagination-progressbar-fill {
            background: map-get($map: $color, $key: light);
          }
        }
      }
      .pagination-fraction {
        color: map-get($map: $color, $key: light);
        bottom: 10%;
        font-size: 1.6rem;
        width: 40px;
        left: calc(8% + 20px);
      }
    }
  }
  #scrollSection {
    padding-top: 70px;
    padding-left: 35%;
    width: 100%;
    .flexCon01 {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 5%;
      padding: 0 5%;
      .flexLeft,
      .flexRight {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
      .flexBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .imgBox {
          overflow: hidden;
          width: 100%;
          margin-bottom: 20px;
          img {
            width: 100%;
            height: 100%;
            // aspect-ratio: 1 / 1;
            object-fit: cover;
          }
        }
        .textBox {
          display: flex;
          flex-direction: column;
          gap: 10px;
          p {
            font-size: 1.6rem;
            &:first-child {
              font-size: 2.2rem;
              font-weight: bold;
            }
          }
          span {
            font-weight: bold;
            &:first-child {
              color: map-get($map: $color, $key: point);
            }
          }
        }
        .itemWrap {
          border-top: 1px solid #ccc;
          padding-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .itemBox {
            display: flex;
            justify-content: space-between;
            position: relative;
            a {
              display: flex;
              height: 70px;
              gap: 20px;
              width: 100%;
            }
            .itemImg {
              height: 100%;
              flex: 1;
              img {
                height: 100%;
                object-fit: cover;
                aspect-ratio: 1 / 1;
              }
            }
            .itemText {
              flex: 10;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              p {
                font-size: 1.4rem;
                font-weight: bold;
                &:nth-child(2) {
                  font-size: 1.6rem;
                  font-weight: normal;
                }
                &:last-child {
                  span {
                    &:first-child {
                      color: map-get($map: $color, $key: point);
                      margin-right: 10px;
                    }
                  }
                }
              }
            }
            .itemLike {
              display: flex;
              flex-direction: column;
              gap: 4px;
              align-self: center;
              cursor: pointer;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              text-align: center;
              color: map-get($map: $color, $key: input);
              i {
                font-size: 2rem;
                &.fa-solid {
                  color: map-get($map: $color, $key: point);
                }
              }
            }
          }
        }
      }
    }
    .flexCon02 {
      padding: 0 5%;
      position: relative;
      margin: 100px 0;
      z-index: 0;
      .swiper02 {
        h2 {
          margin-bottom: 40px;
          font-weight: normal;
        }
        position: relative;
        overflow: hidden;
        .swiper-wrapper {
          .swiper-slide {
            .productImg {
              img {
                width: 100%;
                height: 300px;
                object-fit: cover;
              }
            }
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
              font-size: 1.4rem;
              font-weight: bold;
              margin-top: 10px;
              &:nth-child(2) {
                font-size: 1.6rem;
                font-weight: normal;
              }
              &:last-child {
                span {
                  &:first-child {
                    color: map-get($map: $color, $key: point);
                    margin-right: 10px;
                  }
                }
              }
            }
          }
        }
        .swiper-button-next,
        .swiper-button-prev {
          background: map-get($map: $color, $key: input);
          border-radius: 50%;
          width: 36px !important;
          height: 36px;
          line-height: 36px;
          text-align: center;
          display: block;
          color: map-get($map: $color, $key: light);
        }
        .swiper-button-prev {
          top: auto;
          left: auto;
          width: auto;
          height: auto;
          top: 5%;
          right: 5%;
          &::after {
            font-size: 1.4rem;
          }
        }
        .swiper-button-next {
          top: auto;
          right: auto;
          width: auto;
          height: auto;
          right: 0;
          top: 5%;
          &::after {
            font-size: 1.4rem;
          }
        }
      }
    }
    .marquee {
      display: flex;
      overflow: hidden;
      white-space: nowrap;
      will-change: transform;
      div {
        will-change: transform;
        animation: scrolling 60s linear infinite both;
        font-size: 10rem;
        font-weight: bold;
        color: #fff;
        // -webkit-text-stroke-width: 3px;
        // -webkit-text-stroke-color: #000000;
        filter: drop-shadow(-1px -1px 0 #ccc) drop-shadow(1px -1px 0 #ccc)
          drop-shadow(-1px 1px 0 #ccc) drop-shadow(1px 1px 0 #ccc);
        transition: all 0.3s;
        // paint-order: stroke fill;
      }
    }
  }
}

// 반응형 tablet
@media screen and (max-width: 1024px) {
  main {
    #pinSection {
      width: 100%;
      position: static;
      .swiper {
        .swiper-slide {
          #swiperText {
            gap: 8px;
            left: 3% !important;
            bottom: 23% !important;
            p {
              &:first-child {
                font-size: 2.4rem;
              }
              &:last-child {
                font-size: 1.8rem;
              }
            }
          }
        }
        .swiper-button-prev {
          bottom: 15%;
          left: 3%;
          &::after {
            font-size: 2rem;
          }
        }
        .swiper-button-next {
          bottom: 15%;
          left: calc(3% + 80px);
          &::after {
            font-size: 2rem;
          }
        }
        .pgbar {
          left: calc(3% + 120px);
          bottom: 13.8%;
        }
        .pagination-progressbar {
        }
        .pagination-fraction {
          left: calc(3% + 30px);
          bottom: 15%;
          font-size: 1.8rem;
        }
      }
    }
    #scrollSection {
      padding-left: 0;
      padding-top: 80px;
      .flexCon02 {
        margin: 100px 0 !important;
        .swiper02 {
          .swiper-button-prev {
            right: 6%;
          }
        }
      }
    }
  }
}

// 반응형 tablet
@media screen and (max-width: 767px) {
  main {
    #pinSection {
      .swiper {
        .swiper-slide {
          #swiperText {
            bottom: 25% !important;
          }
        }
      }
    }
    #scrollSection {
      padding-top: 30px !important;
      .flexCon01 {
        gap: 40px !important;
      }
      .flexCon02 {
        margin: 100px 0 100px !important;
        .swiper-button-prev {
          right: 8% !important;
          top: 6% !important;
          &::after {
            font-size: 1.6rem !important;
          }
        }
        .swiper-button-next {
          top: 6% !important;
          &::after {
            font-size: 1.6rem !important;
          }
        }
        .pagination-fraction {
          font-size: 1.4rem !important;
        }
        .productImg {
          img {
            height: 250px !important;
          }
        }
      }
    }
    .flexCon01 {
      grid-template-columns: repeat(1, 100%) !important;
      gap: 2% !important;
      padding: 0 5%;
    }
    .imgBox {
      aspect-ratio: 1 / 1;
    }
  }
}
@media screen and (max-width: 580px) {
  main {
    #pinSection {
      .swiper {
        .swiper-slide {
          #swiperText {
            bottom: 25% !important;
          }
        }
        .pgbar {
          width: 180px;
        }
      }
    }
    #scrollSection {
      .flexCon02 {
        // margin: 150px 0 100px !important;
        .swiper-button-prev {
          right: 11% !important;
        }
      }
    }
  }

  .marquee {
    margin-top: 100px;
    div {
      font-size: 7rem !important;
    }
  }
}
@media screen and (max-width: 380px) {
  .flexCon02 {
    .swiper-button-prev {
      right: 13% !important;
    }
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
