// reset & variables
@import "./reset.scss";
@import "./variables.scss";

main {
  margin-top: 0;
  background: #fff;
  #pinSection {
    position: fixed;
    background: #ccc;
    width: 35%;
    height: 100vh;
    top: 0;
    .swiper {
      width: 100%;
      height: 100%;
      position: relative;
      .swiper-wrapper {
        .swiper-slide {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            background: rgba($color: #000000, $alpha: 0.3);
            z-index: -1;
          }
          .swiperText {
            position: absolute;
            bottom: 18%;
            padding: 0 8%;
            color: map-get($map: $color, $key: light);
            display: flex;
            flex-direction: column;
            gap: 10px;
            p {
              &:nth-child(1) {
                font-size: 3rem;
              }
              &:nth-child(2) {
                font-size: 1.6rem;
              }
            }
          }
          &:nth-child(1) {
            background-image: url("https://media.gucci.com/content/DiaryPhotogalleryVertical_Standard_1200x1800/1655895627/DiaryPhotogalleryVertical_Gucci-Pet-Collection-13_001_Default.jpg");
          }
          &:nth-child(2) {
            background-image: url("https://cafe24img.poxo.com/aviemuah2020/web/product/extra/small/202402/951c204cce7cdf8c0ffdd48a26b76cc9.jpg");
          }
          &:nth-child(3) {
            background-image: url("https://cafe24.poxo.com/ec01/suji3793/exMpWVRPvmnhTUkiTrF2w+f/nYM2LTtH1YeSo4Wf7yy5jQfdRFkNDJqEdcXcHwv1lFDfiMU/TBpMUvHCNtcmSQ==/_/web/product/medium/202412/94018895c26a0db36822830561a918fd.jpg");
          }
          &:nth-child(4) {
            background-image: url("https://cafe24img.poxo.com/kimutaku4/web/upload/NNEditor/20250121/15.jpg");
          }
          &:nth-child(5) {
            background-image: url("https://cafe24.poxo.com/ec01/suji3793/exMpWVRPvmnhTUkiTrF2w+f/nYM2LTtH1YeSo4Wf7yy5jQfdRFkNDJqEdcXcHwv1lFDfiMU/TBpMUvHCNtcmSQ==/_/web/upload/_merlotArticle/Snow_Pic/sl-04-10.jpg");
          }
        }
      }
      .swiper-button-next,
      .swiper-button-prev,
      .pagination-fraction {
        width: 20px;
        height: 30px;
        line-height: 30px;
        left: 3%;
      }
      .swiper-button-prev {
        top: auto;
        bottom: 10%;
        left: 8%;
        &::after {
          font-size: 1.4rem;
          color: map-get($map: $color, $key: light);
        }
      }
      .swiper-button-next {
        top: auto;
        right: auto;
        bottom: 10%;
        left: calc(8% + 60px);
        &::after {
          font-size: 1.4rem;
          color: map-get($map: $color, $key: light);
        }
      }
      .pgbar {
        height: 50px;
        background-color: rgb(67, 71, 72);
        position: absolute;
        bottom: 8.8%;
        line-height: 50px;
        width: 200px;
        left: calc(8% + 90px);
        .pagination-progressbar {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          height: 1px;
          .swiper-pagination-progressbar-fill {
            background: map-get($map: $color, $key: light);
          }
        }
      }
      .pagination-fraction {
        color: map-get($map: $color, $key: light);
        bottom: 10%;
        font-size: 1.6rem;
        width: 40px;
        left: calc(8% + 20px);
      }
    }
  }
  #scrollSection {
    padding-top: 60px;
    padding-left: 35%;
    width: 100%;
    .flexCon01 {
      width: 100%;
      display: flex;
      gap: 3%;
      padding: 0 3%;
      .flexLeft,
      .flexRight {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 50%;
      }
      .flexBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .imgBox {
          overflow: hidden;
          width: 100%;
          margin-bottom: 20px;
          img {
            width: 100%;
            height: 100%;
            // aspect-ratio: 1 / 1;
            object-fit: cover;
          }
        }
        .textBox {
          display: flex;
          flex-direction: column;
          gap: 10px;
          p {
            font-size: 1.6rem;
            &:first-child {
              font-size: 2.2rem;
              font-weight: bold;
            }
          }
          span {
            font-weight: bold;
            &:first-child {
              color: map-get($map: $color, $key: point);
            }
          }
        }
        .itemWrap {
          border-top: 1px solid #ccc;
          padding-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .itemBox {
            display: flex;
            justify-content: space-between;
            position: relative;
            a {
              display: flex;
              height: 70px;
              gap: 20px;
              width: 100%;
            }
            .itemImg {
              height: 100%;
              flex: 1;
              img {
                height: 100%;
                object-fit: cover;
                aspect-ratio: 1 / 1;
              }
            }
            .itemText {
              flex: 10;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              position: relative;
              p {
                font-size: 1.4rem;
                &:first-child {
                  color: map-get($map: $color, $key: point);
                  font-weight: bold;
                }
                &:nth-child(2) {
                  font-size: 1.6rem;
                  font-weight: normal;
                  padding-right: 40px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                }
                &:last-child {
                  span {
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }
    .flexCon02 {
      padding: 0 3%;
      position: relative;
      margin: 100px 0;
      z-index: 0;
      .swiper02 {
        h2 {
          margin-bottom: 40px;
          font-weight: normal;
        }
        position: relative;
        overflow: hidden;
        .swiper-wrapper {
          .swiper-slide {
            .productImg {
              img {
                width: 100%;
                height: 300px;
                object-fit: cover;
              }
            }
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
              font-size: 1.4rem;
              margin-top: 10px;
              &:first-child {
                color: map-get($map: $color, $key: point);
                font-weight: bold;
              }
              &:nth-child(2) {
                font-size: 1.6rem;
                font-weight: normal;
              }
              &:last-child {
                span {
                  font-weight: bold;
                }
              }
            }
          }
        }
        .swiper-button-next,
        .swiper-button-prev {
          background: map-get($map: $color, $key: input);
          border-radius: 50%;
          width: 36px !important;
          height: 36px;
          line-height: 36px;
          text-align: center;
          display: block;
          color: map-get($map: $color, $key: light);
          top: 6% !important;
        }
        .swiper-button-prev {
          top: auto;
          left: auto;
          width: auto;
          height: auto;
          right: 4%;
          &::after {
            font-size: 1.4rem;
          }
        }
        .swiper-button-next {
          top: auto;
          right: auto;
          width: auto;
          height: auto;
          right: 0;
          &::after {
            font-size: 1.4rem;
          }
        }
      }
    }
    .marquee {
      display: flex;
      overflow: hidden;
      white-space: nowrap;
      will-change: transform;
      div {
        will-change: transform;
        animation: scrolling 60s linear infinite both;
        font-size: 10rem;
        font-weight: bold;
        color: #fff;
        // -webkit-text-stroke-width: 3px;
        // -webkit-text-stroke-color: #000000;
        filter: drop-shadow(-1px -1px 0 #ccc) drop-shadow(1px -1px 0 #ccc)
          drop-shadow(-1px 1px 0 #ccc) drop-shadow(1px 1px 0 #ccc);
        transition: all 0.3s;
        // paint-order: stroke fill;
      }
    }
  }
}
@media screen and (max-width: 1700px) {
  main {
    #scrollSection {
      .flexCon02 {
        .swiper02 {
          .swiper-button-prev {
            right: 5% !important;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1600px) {
    main {
      #scrollSection {
        .flexCon02 {
          .swiper02 {
            .swiper-wrapper {
              .swiper-slide {
                .productImg {
                  img {
                    height: 250px;
                  }
                }
              }
            }
            .swiper-button-prev {
              right: 5% !important;
            }
          }
        }
      }
    }
    @media screen and (max-width: 1400px) {
      main {
        #scrollSection {
          .flexCon02 {
            .swiper02 {
              .swiper-wrapper {
                .swiper-slide {
                  .productImg {
                    img {
                      height: 200px;
                    }
                  }
                }
              }
              .swiper-button-prev {
                right: 6% !important;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 1300px) {
      main {
        #scrollSection {
          .flexCon02 {
            .swiper02 {
              .swiper-button-prev {
                right: 6% !important;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 1100px) {
      main {
        #scrollSection {
          .flexCon02 {
            .swiper02 {
              .swiper-wrapper {
                .swiper-slide {
                  .productImg {
                    img {
                      height: 150px;
                    }
                  }
                }
              }
              .swiper-button-next,
              .swiper-button-prev {
                top: 7% !important;
              }
              .swiper-button-prev {
                right: 6.5% !important;
              }
            }
          }
        }
      }
    }
  }
}
// 반응형 tablet
@media screen and (max-width: 1024px) {
  main {
    #pinSection {
      width: 100%;
      position: static;
      .swiper {
        .swiper-slide {
          .swiperText {
            gap: 8px;
            padding: 0 3% !important;
            bottom: 23% !important;
            p {
              &:first-child {
                font-size: 2.4rem;
              }
              &:last-child {
                font-size: 1.8rem;
              }
            }
          }
        }
        .swiper-button-prev {
          bottom: 15%;
          left: 3%;
          &::after {
            font-size: 2rem;
          }
        }
        .swiper-button-next {
          bottom: 15%;
          left: calc(3% + 80px);
          &::after {
            font-size: 2rem;
          }
        }
        .pgbar {
          left: calc(3% + 120px);
          bottom: 13.8%;
        }
        .pagination-progressbar {
        }
        .pagination-fraction {
          left: calc(3% + 30px);
          bottom: 15%;
          font-size: 1.8rem;
        }
      }
    }
    #scrollSection {
      padding-left: 0;
      padding-top: 80px;
      .flexCon01 {
        padding: 0 3%;
      }
      .flexCon02 {
        margin: 100px 0 !important;
        .swiper02 {
          .swiper-wrapper {
            .swiper-slide {
              .productImg {
                img {
                  height: 280px;
                }
              }
            }
          }
          .swiper-button-next,
          .swiper-button-prev {
            top: 7.5% !important;
          }
          .swiper-button-prev {
            right: 6% !important;
          }
        }
      }
    }
  }
}

// 반응형 모바일
@media screen and (max-width: 767px) {
  main {
    #pinSection {
      .swiper {
        .swiper-slide {
          .swiperText {
            bottom: 25% !important;
          }
        }
      }
    }
    #scrollSection {
      padding-top: 30px !important;
      .flexCon01 {
        flex-wrap: wrap;
        .flexLeft,
        .flexRight {
          width: 100%;
        }
        .flexRight {
          margin-top: 40px;
        }
      }
      .flexCon02 {
        margin: 100px 0 100px !important;
        .swiper02 {
          .swiper-wrapper {
            .swiper-slide {
              .productImg {
                img {
                  height: 250px !important;
                }
              }
            }
          }
          .swiper-button-prev {
            right: 7.5% !important;
            &::after {
              font-size: 1.6rem !important;
            }
          }
        }
        .swiper-button-next {
          top: 6% !important;
          &::after {
            font-size: 1.6rem !important;
          }
        }
        .pagination-fraction {
          font-size: 1.4rem !important;
        }
        .productImg {
          img {
            height: 250px !important;
          }
        }
      }
    }
    .flexCon01 {
    }
    .imgBox {
      // aspect-ratio: 1 / 1;
    }
  }
}
@media screen and (max-width: 590px) {
  main {
    #pinSection {
      .swiper {
        .swiper-slide {
          .swiperText {
            bottom: 25% !important;
          }
        }
        .pgbar {
          width: 180px;
        }
      }
    }
    #scrollSection {
      .flexCon02 {
        // margin: 150px 0 100px !important;
        .swiper02 {
          .swiper-wrapper {
            .swiper-slide {
              .productImg {
                img {
                  height: 180px !important;
                }
              }
            }
          }
          .swiper-button-next,
          .swiper-button-prev {
            top: 7.2% !important;
          }
          .swiper-button-prev {
            right: 9% !important;
          }
        }
      }
    }
  }

  .marquee {
    margin-top: 100px;
    div {
      font-size: 7rem !important;
    }
  }
}
@media screen and (max-width: 480px) {
  main {
    #scrollSection {
      .flexCon01 {
        .flexBox {
          .textBox {
            p {
              &:first-child {
                font-size: 2rem;
              }
              &:last-child {
                font-size: 1.4rem;
              }
            }
          }
          .itemWrap {
            .itemBox {
              .itemText {
                p {
                  &:nth-child(2) {
                    font-size: 1.4rem !important;
                  }
                }
              }
            }
          }
          .itemLike {
            font-size: 1.4rem;
          }
        }
      }
      .flexCon02 {
        .swiper02 {
          .swiper-button-prev {
            right: 13% !important;
          }
        }
      }
    }
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
