@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  z-index: 10;
}

body {
  background: #fff;
}

main {
  padding: 0 3%;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 140px 0;
  text-transform: uppercase;
}
main h2 {
  font-size: 2.6rem;
  font-weight: 600;
}
main p {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 300;
}
main #join {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 420px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
main #join input:not(input[type=button]) {
  width: 420px;
  height: 72px;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  border: none;
  background: #f5f5f5;
  color: #dadada;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
main #join input:not(input[type=button]):focus {
  outline: none;
}
main #join input[type=button] {
  width: 420px;
  height: 72px;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
main #join input[type=button]:hover {
  outline: none;
  background: #99bdff;
  color: #fff;
}
main #join #joinContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-bottom: 50px;
}
main #join #joinContainer .joinInput {
  position: relative;
}
main #join #joinContainer .joinInput input {
  padding-left: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
main #join #joinContainer .joinInput input:hover {
  border: 1px solid #dadada;
  background: #fff;
  color: #000;
  font-weight: 700;
}
main #join #joinContainer #errorPW {
  font-size: 1.3rem;
  font-weight: 500;
  color: #99bdff;
}
main #join #joinContainer #errorPW i {
  font-size: 1.2rem;
  padding: 0 2px;
  color: #99bdff;
}