@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  z-index: 1;
}

footer {
  z-index: 1;
}

main {
  padding: 0 3%;
  background: #fff;
}

main {
  margin-top: 70px;
  width: 100%;
  text-transform: uppercase;
}
main #modalContainer {
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main #modalContainer .modal {
  opacity: 0;
  visibility: hidden;
  width: 420px;
  height: 500px;
  border-radius: 18px;
  background: #fff;
  padding: 73px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #modalContainer .modal .modalHeader .fa-xmark {
  position: absolute;
  display: flex;
  justify-content: end;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  top: 20px;
  right: 20px;
}
main #modalContainer .modal .modalHeader .modalTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
main #modalContainer .modal .modalHeader .modalTitle p {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 4px;
}
main #modalContainer .modal .modalHeader .modalTitle span {
  font-size: 3rem;
  font-weight: 700;
}
main #modalContainer .modal .on {
  opacity: 1;
  visibility: visible;
}
main #modalContainer .membership .modalContents {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main #modalContainer .membership .modalContents > li {
  display: flex;
  align-items: center;
  gap: 16px;
}
main #modalContainer .membership .modalContents .modalCircle {
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  background: #99bdff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
main #modalContainer .membership .modalContents .modalCircle img {
  width: 24px;
  height: 24px;
}
main #modalContainer .membership .modalContents .membershipInfo {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 4px;
}
main #modalContainer .membership .modalContents .membershipInfo p {
  font-weight: 700;
}
main #modalContainer .membership .modalContents .membershipInfo p b {
  display: inline-block;
  font-weight: 600;
  padding-left: 8px;
  color: #99bdff;
}
main #modalContainer .membership .modalContents .membershipInfo .subInfo {
  font-size: 1.2rem;
  font-weight: 300;
}
main #modalContainer .point .modalPointContents {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main #modalContainer .point .modalPointContents > li {
  display: flex;
  align-items: center;
  gap: 20px;
}
main #modalContainer .point .modalPointContents .modalCircle {
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  background: #99bdff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
main #modalContainer .point .modalPointContents .modalCircle i {
  font-size: 2.6rem;
  -o-object-fit: cover;
     object-fit: cover;
}
main #modalContainer .point .modalPointContents .membershipInfo {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 6px;
}
main #modalContainer .point .modalPointContents .membershipInfo p {
  font-weight: 600;
}
main #modalContainer .point .modalPointContents .membershipInfo b {
  display: inline-block;
  font-weight: 600;
  color: #99bdff;
}
main #modalContainer .coupon .modalCouponContents {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: space-between;
}
main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon {
  display: flex;
  cursor: pointer;
}
main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox1 {
  width: 160px;
  height: 92px;
  background: #99bdff;
  border-radius: 4px;
  display: flex;
  padding-left: 12px;
  align-items: center;
}
main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox1 .modalInfo .membershipInfo {
  display: flex;
  flex-direction: column;
  font-size: 2.4rem;
  margin-bottom: 6px;
}
main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox1 .modalInfo .membershipInfo p {
  font-weight: 600;
}
main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox1 .modalInfo .membershipInfo p b {
  font-size: 1.8rem;
  margin-left: 1px;
}
main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox1 .modalInfo .membershipInfo span {
  font-weight: 600;
  font-size: 1.2rem;
  color: #000;
}
main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox1 .modalInfo .subInfo {
  font-size: 1rem;
  font-weight: 300;
}
main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox2 {
  width: 32px;
  height: 92px;
  background: #99bdff;
  border-radius: 4px;
  border-left: 0.2px dashed #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox2 .fa-circle-check {
  color: #fff;
}
main #modalContainer .membership .modalContents .on {
  opacity: 1;
  visibility: visible;
}
main #modalContainer .point .modalPointContents .on {
  opacity: 1;
  visibility: visible;
}
main #modalContainer .coupon .modalCouponContents .on {
  opacity: 1;
  visibility: visible;
}
main #modalContainer .on {
  opacity: 1;
  visibility: visible;
}
main #mypage {
  width: 100%;
  padding: 100px 0;
}
main #mypage .mypageContainer {
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: 5fr 12fr;
}
main #mypage .mypageContainer .userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  background: #f5f5f5;
  padding: 60px 5%;
}
main #mypage .mypageContainer .userInfo .infoTitle {
  font-size: 2rem;
  color: #99bdff;
}
main #mypage .mypageContainer .userInfo h4 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: normal;
  margin-top: 14px;
  margin-bottom: 26px;
}
main #mypage .mypageContainer .userInfo h4 .enter {
  display: none;
}
main #mypage .mypageContainer .userInfo h4 .userMembership {
  color: #99bdff;
}
main #mypage .mypageContainer .userInfo .membershipLevel {
  padding: 18px 20px;
  margin-right: auto;
  border-radius: 40px;
  color: #000;
  background: #99bdff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}
main #mypage .mypageContainer .userInfo .membershipLevel i {
  font-size: 1.6rem;
}
main #mypage .mypageContainer .userInfo .membershipLevel:hover {
  background: #000;
  color: #99bdff;
}
main #mypage .mypageContainer .detailInfoWrapper {
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
main #mypage .mypageContainer .detailInfoWrapper .detailInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 80px 5%;
  justify-content: center;
  background: #f5f5f5;
  overflow: hidden;
}
main #mypage .mypageContainer .detailInfoWrapper .detailInfo .detailTitle {
  font-size: 3.4rem;
  font-weight: 400;
  letter-spacing: -0.7px;
  color: #99bdff;
  cursor: pointer;
  transition: all 0.3s;
}
main #mypage .mypageContainer .detailInfoWrapper .detailInfo .detailTitle:hover {
  font-weight: 600;
}
main #mypage .mypageContainer .detailInfoWrapper .detailInfo .detailText {
  cursor: pointer;
  margin-top: 150px;
  letter-spacing: -1px;
}
main #mypage .mypageContainer .detailInfoWrapper .detailInfo .detailText .bold {
  font-size: 5rem;
  font-weight: 600;
  gap: 2px;
}
main #mypage .mypageContainer .detailInfoWrapper .detailInfo .detailText .bold:hover {
  transition: all 0.3s;
  color: #99bdff;
}
main #mypage .mypageContainer .detailInfoWrapper .detailInfo .detailText .bold b {
  font-size: 2.6rem;
  font-weight: 300;
}
main #mypage .mypageContainer .detailInfoWrapper .detailInfo:nth-child(2) {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
}

@media screen and (max-width: 1024px) {
  main #modalContainer .modal {
    width: 330px;
    height: 410px;
    border-radius: 14px;
    padding: 30px 0;
  }
  main #modalContainer .modal .modalHeader .modalTitle {
    margin-bottom: 30px;
  }
  main #modalContainer .modal .modalHeader .modalTitle p {
    font-size: 1.2rem;
  }
  main #modalContainer .modal .modalHeader .modalTitle span {
    font-size: 2.6rem;
  }
  main #modalContainer .membership .modalContents {
    gap: 12px;
  }
  main #modalContainer .membership .modalContents > li {
    gap: 10px;
  }
  main #modalContainer .membership .modalContents .modalCircle {
    width: 64px;
    height: 64px;
  }
  main #modalContainer .membership .modalContents .modalCircle img {
    width: 20px;
    height: 20px;
  }
  main #modalContainer .membership .modalContents .membershipInfo {
    font-size: 1.8rem;
    gap: 6px;
  }
  main #modalContainer .membership .modalContents .membershipInfo p b {
    padding-left: 4px;
  }
  main #modalContainer .membership .modalContents .subInfo {
    font-size: 0.8rem;
  }
  main #modalContainer .point .modalPointContents {
    gap: 12px;
  }
  main #modalContainer .point .modalPointContents > li {
    gap: 10px;
  }
  main #modalContainer .point .modalPointContents .modalCircle {
    width: 64px;
    height: 64px;
  }
  main #modalContainer .point .modalPointContents .modalCircle img {
    width: 20px;
    height: 20px;
  }
  main #modalContainer .point .modalPointContents .membershipInfo {
    font-size: 1.8rem;
    gap: 6px;
  }
  main #modalContainer .point .modalPointContents .membershipInfo p b {
    padding-left: 4px;
  }
  main #modalContainer .coupon .modalCouponContents {
    gap: 8px;
  }
  main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox1 {
    width: 130px;
    height: 74px;
    padding-left: 10px;
  }
  main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox1 .modalInfo .membershipInfo {
    font-size: 2.2rem;
    margin-bottom: 2px;
  }
  main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox1 .modalInfo .membershipInfo p b {
    font-size: 1.4rem;
    margin-left: 1px;
  }
  main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox1 .modalInfo .membershipInfo span {
    font-weight: 600;
    font-size: 1rem;
  }
  main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox1 .modalInfo .subInfo {
    font-size: 0.9rem;
  }
  main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox2 {
    width: 32px;
    height: 74px;
  }
  main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox2 .fa-circle-check {
    font-size: 1.4rem;
  }
  main #mypage {
    padding: 50px;
  }
  main #mypage .mypageContainer {
    row-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  main #mypage .mypageContainer .detailInfoWrapper .detailInfo .detailTitle {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -0.7px;
  }
  main #mypage .mypageContainer .detailInfoWrapper .detailInfo .detailText {
    margin-top: 100px;
  }
  main #mypage .mypageContainer .detailInfoWrapper .detailInfo .detailText .bold {
    font-size: 4rem;
    gap: 2px;
  }
  main #mypage .mypageContainer .detailInfoWrapper .detailInfo .detailText .bold b {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 767px) {
  main #modalContainer .modal {
    width: 250px;
    height: 330px;
    border-radius: 10px;
    padding: 10px 0;
  }
  main #modalContainer .modal .modalHeader .fa-xmark {
    position: absolute;
    display: flex;
    justify-content: end;
    font-size: 1.6rem;
    color: #000;
    cursor: pointer;
    top: 10px;
    right: 10px;
  }
  main #modalContainer .modal .modalHeader .modalTitle {
    margin-bottom: 20px;
  }
  main #modalContainer .modal .modalHeader .modalTitle p {
    font-size: 1.2rem;
  }
  main #modalContainer .modal .modalHeader .modalTitle span {
    font-size: 2.2rem;
  }
  main #modalContainer .membership .modalContents {
    gap: 12px;
  }
  main #modalContainer .membership .modalContents > li {
    gap: 8px;
  }
  main #modalContainer .membership .modalContents .modalCircle {
    width: 54px;
    height: 54px;
  }
  main #modalContainer .membership .modalContents .modalCircle img {
    width: 18px;
    height: 18px;
  }
  main #modalContainer .membership .modalContents .membershipInfo {
    font-size: 1.6rem;
    gap: 4px;
  }
  main #modalContainer .membership .modalContents .membershipInfo p b {
    padding-left: 3px;
  }
  main #modalContainer .membership .modalContents .membershipInfo .subInfo {
    font-size: 0.9rem;
  }
  main #modalContainer .point .modalPointContents {
    gap: 12px;
  }
  main #modalContainer .point .modalPointContents > li {
    gap: 8px;
  }
  main #modalContainer .point .modalPointContents .modalCircle {
    width: 54px;
    height: 54px;
  }
  main #modalContainer .point .modalPointContents .modalCircle img {
    width: 18px;
    height: 18px;
  }
  main #modalContainer .point .modalPointContents .modalCircle i {
    font-size: 2rem;
  }
  main #modalContainer .point .modalPointContents .membershipInfo {
    font-size: 1.5rem;
    gap: 2px;
  }
  main #modalContainer .point .modalPointContents .membershipInfo p b {
    padding-left: 3px;
  }
  main #modalContainer .coupon .modalCouponContents {
    gap: 6px;
  }
  main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox1 {
    width: 110px;
    height: 60px;
    padding-left: 8px;
  }
  main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox1 .modalInfo .membershipInfo {
    font-size: 2rem;
    margin-bottom: 3px;
  }
  main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox1 .modalInfo .membershipInfo p b {
    font-size: 1.2rem;
    margin-left: 2px;
  }
  main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox1 .modalInfo .membershipInfo span {
    font-size: 0.9rem;
  }
  main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox1 .modalInfo .subInfo {
    font-size: 0.6rem;
  }
  main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox2 {
    width: 24px;
    height: 60px;
  }
  main #modalContainer .coupon .modalCouponContents .modalCouponInfoCon .modalCoupon .couponBox2 .fa-circle-check {
    font-size: 1rem;
  }
  main #mypage .mypageContainer {
    row-gap: 20px;
  }
  main #mypage .mypageContainer .userInfo {
    padding: 60px 10%;
  }
  main #mypage .mypageContainer .userInfo .infoTitle {
    font-size: 1.4rem;
  }
  main #mypage .mypageContainer .userInfo h4 {
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  main #mypage .mypageContainer .userInfo h4 .enter {
    display: block;
  }
  main #mypage .mypageContainer .userInfo h4 br {
    display: none;
  }
  main #mypage .mypageContainer .userInfo .membershipLevel {
    font-size: 1rem;
    padding: 12px 16px;
  }
  main #mypage .mypageContainer .userInfo .membershipLevel i {
    display: none;
  }
  main #mypage .mypageContainer .detailInfoWrapper {
    flex-direction: column;
  }
  main #mypage .mypageContainer .detailInfoWrapper .detailInfo {
    padding: 60px 10%;
  }
  main #mypage .mypageContainer .detailInfoWrapper .detailInfo .detailTitle {
    font-size: 2.6rem;
  }
  main #mypage .mypageContainer .detailInfoWrapper .detailInfo .detailText {
    margin-top: 40px;
  }
  main #mypage .mypageContainer .detailInfoWrapper .detailInfo .detailText .bold {
    font-size: 3.6rem;
  }
  main #mypage .mypageContainer .detailInfoWrapper .detailInfo .detailText .bold b {
    font-size: 2.4rem;
  }
  main #mypage .mypageContainer .detailInfoWrapper .detailInfo:nth-child(2) {
    border-left: none;
    border-right: none;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
  }
}