@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  z-index: 1;
}

footer {
  z-index: 1;
}

main {
  background: #fff;
}

main {
  top: 70px;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}
main #modal #membershipModal {
  width: 100%;
  z-index: 2;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
main #modal #membershipModal .modalWrapperBox {
  width: 420px;
  height: 500px;
}
main #modal #membershipModal .modalWrapperBox .modalWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff;
  border-radius: 18px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
}
main #modal #membershipModal .modalWrapperBox .modalWrapper i {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 2rem;
  padding: 20px;
  color: #000;
  cursor: pointer;
  top: 0;
  right: 0;
}
main #modal #membershipModal .modalWrapperBox .modalWrapper .modalTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
main #modal #membershipModal .modalWrapperBox .modalWrapper .modalTitle p {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 6px;
}
main #modal #membershipModal .modalWrapperBox .modalWrapper .modalTitle span {
  font-size: 3rem;
  font-weight: 700;
}
main #modal #membershipModal .modalWrapperBox .modalWrapper .modalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main #modal #membershipModal .modalWrapperBox .modalWrapper .modalContainer .modalInfoCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main #modal #membershipModal .modalWrapperBox .modalWrapper .modalContainer .modalInfoCon .modalCircle {
  width: 70px;
  height: 70px;
  background: #99bdff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
main #modal #membershipModal .modalWrapperBox .modalWrapper .modalContainer .modalInfoCon .modalCircle img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #modal #membershipModal .modalWrapperBox .modalWrapper .modalContainer .modalInfoCon .modalInfo .membershipInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  margin-bottom: 8px;
}
main #modal #membershipModal .modalWrapperBox .modalWrapper .modalContainer .modalInfoCon .modalInfo .membershipInfo p {
  font-weight: 700;
}
main #modal #membershipModal .modalWrapperBox .modalWrapper .modalContainer .modalInfoCon .modalInfo .membershipInfo span {
  font-weight: 600;
  padding-left: 8px;
  color: #99bdff;
}
main #modal #membershipModal .modalWrapperBox .modalWrapper .modalContainer .modalInfoCon .modalInfo .subInfo {
  font-size: 1.2rem;
  font-weight: 300;
}
main #modal #couponModal {
  width: 100%;
  z-index: 2;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
main #modal #couponModal .modalWrapperBox {
  width: 420px;
  height: 500px;
}
main #modal #couponModal .modalWrapperBox .modalWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff;
  border-radius: 18px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
}
main #modal #couponModal .modalWrapperBox .modalWrapper i {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 2rem;
  padding: 20px;
  color: #000;
  cursor: pointer;
  top: 0;
  right: 0;
}
main #modal #couponModal .modalWrapperBox .modalWrapper .modalTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
main #modal #couponModal .modalWrapperBox .modalWrapper .modalTitle p {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 6px;
}
main #modal #couponModal .modalWrapperBox .modalWrapper .modalTitle span {
  font-size: 3rem;
  font-weight: 700;
}
main #modal #couponModal .modalWrapperBox .modalWrapper .modalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main #modal #couponModal .modalWrapperBox .modalWrapper .modalContainer .modalInfoCon {
  border: 1px solid #f00;
}
main #modal #couponModal .modalWrapperBox .modalWrapper .modalContainer .modalInfoCon .modalCouponBox {
  width: 100%;
  height: 100%;
}
main #modal #couponModal .modalWrapperBox .modalWrapper .modalContainer .modalInfoCon .modalCouponBox .couponInfo {
  width: 100px;
  gap: 50px;
  background: #000;
}
main #modal #couponModal .modalWrapperBox .modalWrapper .modalContainer .modalInfoCon .modalInfo .membershipInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  margin-bottom: 8px;
}
main #modal #couponModal .modalWrapperBox .modalWrapper .modalContainer .modalInfoCon .modalInfo .membershipInfo p {
  font-weight: 700;
}
main #modal #couponModal .modalWrapperBox .modalWrapper .modalContainer .modalInfoCon .modalInfo .membershipInfo span {
  font-weight: 600;
  padding-left: 8px;
  color: #99bdff;
}
main #modal #couponModal .modalWrapperBox .modalWrapper .modalContainer .modalInfoCon .modalInfo .subInfo {
  font-size: 1.2rem;
  font-weight: 300;
}
main #container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
  padding: 140px 3%;
}
main #container .userBox {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #f5f5f5;
  padding: 0 30px;
  width: 40%;
}
main #container .userBox .userWrapper {
  height: 100%;
}
main #container .userBox .userWrapper .userinfoWrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
main #container .userBox .userWrapper .userinfoWrapper span {
  font-size: 1.6rem;
  color: #99bdff;
}
main #container .userBox .userWrapper .userinfoWrapper h2 {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: normal;
  margin-top: 14px;
  margin-bottom: 26px;
}
main #container .userBox .userWrapper .userinfoWrapper h2 span {
  font-size: 3.6rem;
  color: #99bdff;
}
main #container .userBox .userWrapper .userinfoWrapper .membershipInfo {
  padding: 14px 20px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #99bdff;
  cursor: pointer;
}
main #container .userBox .userWrapper .userinfoWrapper .membershipInfo p {
  font-size: 1.4rem;
  font-weight: 400;
}
main #container .userBox .userWrapper .userinfoWrapper .membershipInfo i {
  font-size: 1.3rem;
  padding-left: 4px;
}
main #container .infoBox {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
main #container .infoBox .infoBoxWrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main #container .infoBox .infoBoxWrapper .commonBox {
  background: #f5f5f5;
  padding: 0 30px;
  width: 400px;
}
main #container .infoBox .infoBoxWrapper .commonBox .infoWrapper {
  width: 100%;
  height: 100%;
  gap: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
main #container .infoBox .infoBoxWrapper .commonBox .infoWrapper h3 {
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: -0.7px;
  color: #99bdff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
main #container .infoBox .infoBoxWrapper .commonBox .infoWrapper h3:hover {
  font-weight: 600;
}
main #container .infoBox .infoBoxWrapper .commonBox .infoWrapper .detailInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2px;
  cursor: pointer;
}
main #container .infoBox .infoBoxWrapper .commonBox .infoWrapper .detailInfo p {
  font-size: 4rem;
  font-weight: 600;
}
main #container .infoBox .infoBoxWrapper .commonBox .infoWrapper .detailInfo span {
  font-size: 2.6rem;
  font-weight: 300;
}
main #container .infoBox .infoBoxWrapper .couponBox {
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}
main #container .infoBox .infoBoxWrapper .pointBox {
  width: 100%;
  height: 100%;
  border-right: 1px solid #dadada;
  border-left: 1px solid #dadada;
}
main #container .infoBox .infoBoxWrapper .membershipBox {
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
}

@media screen and (max-width: 1024px) {
  #container {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  #container .userBox {
    height: 360px !important;
    width: 100% !important;
  }
  #container .infoBox {
    height: 360px !important;
  }
}