@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  z-index: 10;
}

/* 레이아웃 */
.container {
  background: #fff;
  min-height: 100vh;
}

.checkout-container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.checkout-container .checkout-title {
  font-size: 2.4rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 20px;
}

.section-title {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 16px;
  padding-bottom: 10px;
}

section {
  width: 100%;
  padding: 20px;
}

.checkout-container {
  width: 100%;
}
.checkout-container .shipping-section .address-selector {
  margin-bottom: 20px;
  padding: 0 15px;
}
.checkout-container .shipping-section .address-selector .address-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkout-container .shipping-section .address-selector .address-label .recent-address {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.2rem;
  font-weight: 300;
  font-weight: 400;
  margin-right: 30px;
  border-bottom: 1px solid #000;
}
.checkout-container .shipping-section .address-selector .address-label .direct-input {
  font-size: 1.8rem;
  font-weight: 300;
}
.checkout-container .shipping-section .address-selector .address-info {
  margin-bottom: 20px;
  color: #a7a7a8;
}
.checkout-container .shipping-section .address-selector .address-info .user-state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.checkout-container .shipping-section .address-selector .address-info .user-state .recipient {
  font-size: 2rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkout-container .shipping-section .address-selector .address-info .user-state .address-book-link {
  font-size: 1.6rem;
  color: #000;
}
.checkout-container .shipping-section .address-selector .address-info .address-detail {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.checkout-container .shipping-section .address-selector .address-info .phone {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.checkout-container .shipping-section .address-selector .delivery-message {
  width: 100%;
}
.checkout-container .shipping-section .address-selector .delivery-message select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-position: right 8px center;
  background-size: 16px;
  padding: 0 20px;
  font-size: 1.5rem;
  cursor: pointer;
}
.checkout-container .shipping-section .address-selector .delivery-message select option {
  font-size: 16px;
}
.checkout-container .shipping-section .address-selector .delivery-message select option[disabled] {
  color: #dadada;
}

.order-products .product-list {
  margin: 0;
  padding: 0 10px;
}
.order-products .product-list .product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 35px 25px;
  margin: 5px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.order-products .product-list .product-item .product-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-right: 50px;
}
.order-products .product-list .product-item .product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.order-products .product-list .product-item .product-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 15px;
  font-size: 2rem;
  font-weight: 400;
}
.order-products .product-list .product-item .product-info .product-name {
  margin-bottom: 8px;
}
.order-products .product-list .product-item .remove-product {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  font-size: 2.4rem;
  cursor: pointer;
  color: #000;
}

.payment-section .payment-options {
  padding: 0 15px;
}
.payment-section .payment-options .subsection-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 15px;
  color: #a7a7a8;
}
.payment-section .payment-options .coupon-row,
.payment-section .payment-options .points-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
  padding: 0 10px;
  color: #999999;
}
.payment-section .payment-options .coupon-row .option-label,
.payment-section .payment-options .points-row .option-label {
  width: 100px;
  font-size: 1.6rem;
  font-weight: 400;
}
.payment-section .payment-options .coupon-row .option-value,
.payment-section .payment-options .points-row .option-value {
  font-size: 1.6rem;
  margin-right: 10px;
}
.payment-section .payment-options .coupon-row .option-button,
.payment-section .payment-options .points-row .option-button {
  padding: 5px 10px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 3px;
  font-size: 1.4rem;
  cursor: pointer;
}
.payment-section .payment-options .option-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20px;
  font-size: 1.4rem;
  display: flex;
  color: #dadada;
}

.order-summary .summary-list {
  padding: 0 20px;
}
.order-summary .summary-list .summary-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 5%;
  color: #a7a7a8;
}
.order-summary .summary-list .summary-row .summary-label {
  font-size: 1.8rem;
  font-weight: 600;
}
.order-summary .summary-list .summary-row .summary-amount {
  font-size: 1.6rem;
  font-weight: 400;
}
.order-summary .summary-list .summary-row.total {
  margin-top: 20px;
  border-top: 1px solid #d9d9d9;
  color: #000;
  padding-top: 15px;
}
.order-summary .summary-list .summary-row.total .summary-label,
.order-summary .summary-list .summary-row.total .summary-amount {
  font-size: 1.8rem;
  font-weight: 600;
}

.payment-methods {
  margin-bottom: 30px;
}
.payment-methods .payment-options {
  padding: 0 10px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.payment-methods .payment-options .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.payment-methods .payment-options .payment-options-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.payment-methods .payment-options .payment-options-list .payment-option {
  cursor: pointer;
  margin-right: 20px;
}
.payment-methods .payment-options .payment-options-list .payment-option input[type=radio] {
  display: none;
}
.payment-methods .payment-options .payment-options-list .payment-option input[type=radio] + .option-text {
  position: relative;
  padding-left: 28px;
  font-size: 1.6rem;
}
.payment-methods .payment-options .payment-options-list .payment-option input[type=radio] + .option-text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999999;
  border-radius: 3px;
  background: #fff;
}
.payment-methods .payment-options .payment-options-list .payment-option input[type=radio]:checked + .option-text:before {
  background: #999999;
  border-color: #999999;
}
.payment-methods .terms-agreement {
  padding: 0 12px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.payment-methods .terms-agreement .agreement-label {
  cursor: pointer;
}
.payment-methods .terms-agreement .agreement-label input[type=checkbox] {
  display: none;
}
.payment-methods .terms-agreement .agreement-label input[type=checkbox] + .agreement-text {
  position: relative;
  padding-left: 28px;
  font-size: 1.4rem;
}
.payment-methods .terms-agreement .agreement-label input[type=checkbox] + .agreement-text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  border: 1px solid #999999;
  background: #fff;
}
.payment-methods .terms-agreement .agreement-label input[type=checkbox]:checked + .agreement-text:before {
  background: #a7a7a8;
  border-color: #999999;
}

.checkout-button-container {
  width: 90%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.checkout-button-container .checkout-button {
  width: 100%;
  padding: 15px 0;
  background: #eeeeee;
  border: none;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 10px;
  margin-bottom: 100px;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.checkout-button-container .checkout-button:hover {
  background: #ecff0b;
}
.checkout-button-container .checkout-button:active {
  -webkit-box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2);
}