@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  background-color: #fff;
  margin-top: 60px;
  padding: 3%;
  min-height: 100vh;
}
main h2 {
  font-size: 3rem;
}
main h2 span {
  font-weight: normal;
}
main .filterWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
  border: 1px solid #d9d9d9;
  padding-left: 10px;
}
main .filterWrap p {
  padding: 10px 0;
}
main .filterWrap p span {
  font-weight: bold;
}
main .filterWrap select {
  width: 8%;
  border: none;
  border-left: 1px solid #d9d9d9;
}
main #searchResult .nothingSearch {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 2.4rem;
  gap: 10px;
  color: #a7a7a8;
}
main #searchResult .nothingSearch i {
  font-size: 6rem;
  margin-bottom: 4px;
}
main section {
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main section ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
main section ul .itemBox a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
}
main section ul .itemBox a .itemImg {
  width: 100%;
}
main section ul .itemBox a .itemImg img {
  width: 100%;
  aspect-ratio: 1/1;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}
main section ul .itemBox a .itemText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
main section ul .itemBox a .itemText p {
  font-size: 1.4rem;
}
main section ul .itemBox a .itemText p:first-child {
  font-weight: bold;
  color: #99bdff;
}
main section ul .itemBox a .itemText p:nth-child(2) {
  font-size: 1.6rem;
}
main section ul .itemBox a .itemText p:nth-child(3) span {
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  main section ul {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  main section ul {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}